// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-answer {
  background-color: #FFFDE1;
  padding:10px;
  border-left: solid 6px lightgrey;
  margin-bottom:30px;
  font-weight: bold;
}

.item-answer p {
  font-weight:normal;
}

.contain p {
  margin: 0px;
  font-style: italic;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-question {
  padding:10px;
  border-left: solid 6px lightgrey;
  margin-bottom:30px;
}

